<header class="page-header">
    <div class="wrapper">
        <nav class="main-nav">
            <ul>
                <li><a href="/">All movies</a></li>
                <li><a href="/movies/create-movies">Create movies</a></li>
            </ul>
        </nav>
    </div>
</header>