<div class="continer">
    <div class="card">
        <h1>jwfhjq</h1>
        <h2>
            ehdks
        </h2>
    </div>
</div>
.continer{
    
    dispaly: flex;
    fex-wrap: wrap;

}
.continer .card{
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px 20px;
    height: 100px;
    width:100px;
}